.shop__list,
.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__list {
  display: none;
}
.show-menu {
  width: 20px;
  height: 20px;
  border: 4px solid black;
  position: relative;
  border-left: none;
  border-right: none;
  margin-right: 20px;

  margin-left: auto;
  display: block;
}
.show-menu::after {
  display: block;
  position: absolute;
  content: "";

  height: 4px;
  width: 20px;
  background-color: black;
  left: 0px;
  top: 4px;
}
.section {
  font-size: 22px;
}
.main-header__logo {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: none;
}
.header__list-item {
  border: 1px solid skyblue;
  width: 150px;
}
.main-header {
  background-color: antiquewhite;
  min-height: 40px;
  padding-top: 10px;
}
.shop__list-item {
  width: 100%;
  height: 200px;
  background-color: burlywood;
  border: 2px dashed rebeccapurple;
}
.top__ads {
  display: none;
}

.two-parts {
  width: 50%;
  height: 50px;
  background-color: cornflowerblue;
  color: white;
}
.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  padding: 5px;
  background-color: palegoldenrod;
  border: 2px dashed orchid;
}
.footer-mobile-hidden {
  background-color: orchid;
  padding: 20px;
  border: 2px dashed goldenrod;
}
@media (min-width: 768px) {
  .section {
    font-size: 18px;
  }
  .top__ads {
    display: block;
    background-color: royalblue;
    width: 100%;
    height: 40px;
    font-size: 25px;
    color: wheat;
  }
  .shop__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .shop__list-item {
    width: 45%;
  }
  .section-two-parts {
    display: flex;
    font-size: 28px;
  }
  .two-parts {
    height: 150px;
  }
}
@media (min-width: 1024px) {
  .section {
    font-size: 16px;
  }
  .main-header {
    display: flex;
    justify-content: space-between;
  }
  .header__list {
    display: flex;
  }
  .main-header__logo {
    display: block;
    background-color: red;
  }
  .show-menu {
    display: none;
  }
  .shop__list-item {
    width: 200px;
  }
  .footer__list {
    display: flex;
    justify-content: space-between;
  }
}
