body {
  background-color: gainsboro;
}

p {
  color: rgb(156, 156, 5);
  text-shadow: 1px 1px #000;
}

.red {
  color: red;
}
#blue + .red {
  color: goldenrod;
}
#blue {
  color: blue;
}
h6 {
  font-size: 40px;
}
.main-header-caption {
  font-size: 16px;
}
.pink {
  color: pink !important;
}
.main-nav__list-link {
  color: brown;
  text-decoration: none;
}

.main-nav__list-link--active {
  text-decoration: underline;
  font-weight: bold;
}
.main {
  display: flex;
}
.aside {
  width: 150px;
  background-color: plum;
  color: white;
  font-weight: bold;
}
.main-footer {
  background-color: rgba(121, 94, 94, 0.6);
  color: white;
}

.main-header {
  background-color: rgba(127, 102, 218, 0.6);
}
section {
  padding: 10px;
  border: 1px solid black;
}
