.flex-container,
.flex-container-1,
.flex-container-2 {
  padding: 0;
  margin: 50px 0;
  list-style: none;
}

.flex-element {
  background-color: yellowgreen;
  border: 1px solid rgb(230, 141, 114);
  width: 150px;

  height: 150px;
}
.flex-container-1 .flex-element {
  background-color: rgb(84, 50, 205);
  border: 1px solid rgb(222, 230, 114);
}

.flex-container-2 .flex-element {
  background-color: rgb(75, 99, 28);
  border: 1px solid rgb(15, 141, 71);
}

/* Grid */
.grid {
}
.grid-header {
}
.grid-aside {
}
.grid-cards-container {
}
.grid-card {
}

.grid-footer {
}
