body {
  height: 2200px;
}

.container {
  height: 1300px;
  width: 100%;
  background-color: tomato;
  position: relative;
}
.element {
  background-color: rgba(216, 206, 191, 0.7);
  border: 1px solid wheat;
  width: 200px;
  height: 200px;
  font-size: 25px;
}
.element:nth-child(1) {
  position: absolute;
  left: 40px;
}
.element:nth-child(2) {
  position: absolute;
  left: 80px;
  top: 120px;
  z-index: 2;
}
.element:nth-child(3) {
  position: relative;
  z-index: 3;
  text-shadow: 1px 1px white;
}
.element:nth-child(4) {
}
.element:nth-child(5) {
  position: absolute;
  right: 0px;
  background-color: yellow;
  z-index: 5;
}
.element:nth-child(6) {
  position: sticky;
  top: 40px;
}
.element-outside {
  background-color: rgba(216, 206, 191, 0.7);
  border: 1px solid wheat;
  width: 200px;
  height: 200px;
  font-size: 25px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 4;
}

.after-before {
  /* position: relative; */
  width: 200px;
  height: 200px;
  background-color: turquoise;
}
.after-before::after,
.after-before::before {
  /* position: absolute; */
  content: "PSEUDO";
  display: inline-block;
  top: 0;
  background-color: teal;
  width: 70px;
  height: 70px;
  color: white;
}
